* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    min-width: 640px;
    display: flex;
    background: #060ab2;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* 3d styles */
    perspective: 1000px;
}
/* Calc for width and height is used to ensure the card boxes do now overflow their container with a margin set. */
.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    /* transform: scale(1); */
    /* 3d styles */
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1c7ccc;
    /* Ensure different image when card flipped, instead of just a reversed JS image. Hidden hides the JS image, the transform for .front-face below shows the other image */
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

img {
    width: 100px;
}
